// Specific CSS for your home-page
.home-banner {
  background-image: url('http://www.bayreutherhaus.de/images/large/143731/Bthaussommer.jpg');
  background-size: cover;
  background-position: 50% 50%;
  height: 90vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.center-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-banner h1 {
	font-weight: bold;
	font-family: Poppins;
	font-size: 100px;
	margin-bottom: 5px;
}

.home-banner h2 {
	font-family: Poppins;
	font-size: 40px;
}

.text-block {
  display: inline-block;
  font-size: 20px;
}