<div class="navbar navbar-dark bg-dark navbar-expand-sm navbar-light navbar-lewagon fixed-top shadow-lg">
    <div class="navbar-brand">
    <%= image_tag "bt.png" %>
    </div>

    <div class="items">
      <a class="view overlay">Bayreuther Haus</a>
      <a class="">Wildpark</a>
      <a class="">Freizeitaktivitäten</a>
      <a class="">Öffnungszeiten</a>
      <a class="">Anfahrt</a>
      <a class="">Kontakt</a>
      <a class="">Galerie</a>
      <a class="">Impressum</a>
    </div>
</div>
