<br>
<br>
<br>
<br>

<div class="center-images">
	<h1>Freizeitaktivitäten in der Umgebung</h1>
</div>

<br>

<div class="center-images">
	<%= image_tag "freizeitaktivitaeten.png" %>
</div>

<br>
<div class="container">
	<p class="text-block">
	Besuchen Sie nach dem Essen den Wildpark und das Waldmuseum. Und erleben Sie zusammen mit ihren Kindern Luchs, Wildschwein und Co. hautnah.
	Auf dem Entdeckerpfad und dem Waldspielplatz gibt es für Kinder gibt es viel Platz zum austoben.
	Dagegen dient die Kneippanlage am nahegelegen See der Entspannung.
	Ein weiteres Highlight ist der Klausenturm, ein 46m hoher Aussichtsturm, von welchem man einem atemberaubenden Ausblick auf die Berge des Fichtelgebirges wie dem Ochsenkopf, Schneeberg und Kösseine hat.
	</p>
</div>

<br>