<br>
<br>
<br>
<br>

<div class="center-images">
	<h1>Unsere Öffnungszeiten</h1>
</div>

<br>

<div class="container">
	<p class="text-block">
	<strong>Montag</strong> Ruhetag <br>
	<strong>Dienstag</strong> bis <strong>Sonntag</strong> geöffnet <br>
	durchgehend warme Küche von 10:30 Uhr bis 18:00 Uhr <br><br>
	Bei Skibetrieb durchgehend geöffnet! <br>
	10:00 Uhr bis 22:00 Uhr <br>
	</p>
</div>