.navbar-lewagon {
  justify-content: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

a {
	font-size: 20px;
	padding: 8px;
}

.items {
	color: white;
}